table {
    width:100%;
    word-break: break-all;
    border-top: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid black;
}

input {
    width: 80%;
} 


.top {
    color: white;
    text-align: center;
    background-color: lightblue;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px; 
}
.list {
    text-align:  center;  
    padding: 1rem;
    background-color:whitesmoke;
    margin-top:10px;
 }
.done {
    text-decoration: line-through;
}
.delBtn{
    width:20%;
}
